<h1 class="h1"><%- title || "Vehicles management" %></h1>
<%- messages() %>

<div class="management-links">
  <ul class="inv-management">
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Vehicle</a></li>
  </ul>
</div>
